/*
 * Copyright (C) 2016 Icenowy Zheng <icenowy@aosc.xyz>
 *
 * Based on sun8i-h3-orangepi-one.dts, which is:
 *   Copyright (C) 2016 Hans de Goede <hdegoede@redhat.com>
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPL or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This file is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License as
 *     published by the Free Software Foundation; either version 2 of the
 *     License, or (at your option) any later version.
 *
 *     This file is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 * Or, alternatively,
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use,
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 */

/dts-v1/;
#include "sun8i-h3.dtsi"
#include "sunxi-common-regulators.dtsi"

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

/ {
	model = "Xunlong Orange Pi Zero";
	compatible = "xunlong,orangepi-zero", "allwinner,sun8i-h2-plus";

	aliases {
		serial0 = &uart0;
		/* ethernet0 is the H3 emac, defined in sun8i-h3.dtsi */
		ethernet0 = &emac;
		ethernet1 = &xr819;
		spi1 = &spi1;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	leds {
		compatible = "gpio-leds";

		pwr_led {
			label = "orangepi:green:pwr";
			gpios = <&r_pio 0 10 GPIO_ACTIVE_HIGH>;
			default-state = "on";
			linux,default-trigger = "default-on";
			panic-indicator;
		};

		status_led {
			label = "orangepi:red:status";
			gpios = <&pio 0 17 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heatbeat";
		};
	};


	reg_vcc_wifi: reg_vcc_wifi {
		compatible = "regulator-fixed";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-name = "vcc-wifi";
		enable-active-high;
		gpio = <&pio 0 20 GPIO_ACTIVE_HIGH>;
	};

	reg_vdd_cpux: vdd-cpux-regulator {
		compatible = "regulator-gpio";
		regulator-name = "vdd-cpux";
		regulator-type = "voltage";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <1100000>;
		regulator-max-microvolt = <1300000>;
		regulator-ramp-delay = <50>; /* 4ms */

		gpios = <&r_pio 0 6 GPIO_ACTIVE_HIGH>; /* PL6 */
		enable-active-high;
		gpios-states = <1>;
		states = <1100000 0>, <1300000 1>;
	};

	wifi_pwrseq: wifi_pwrseq {
		compatible = "mmc-pwrseq-simple";
		reset-gpios = <&r_pio 0 7 GPIO_ACTIVE_LOW>;
		post-power-on-delay-ms = <200>;
	};

};

&cpu0 {
	cpu-supply = <&reg_vdd_cpux>;
};

&ehci0 {
	status = "okay";
};

&ehci1 {
	status = "okay";
};

&emac {
	phy-handle = <&int_mii_phy>;
	phy-mode = "mii";
	allwinner,leds-active-low;
	status = "okay";
};

&mmc0 {
	vmmc-supply = <&reg_vcc3v3>;
	bus-width = <4>;
	cd-gpios = <&pio 5 6 GPIO_ACTIVE_LOW>; /* PF6 */
	status = "okay";
};

&mmc1 {
	vmmc-supply = <&reg_vcc_wifi>;
	mmc-pwrseq = <&wifi_pwrseq>;
	bus-width = <4>;
	non-removable;
	status = "okay";

	/*
	 * Explicitly define the sdio device, so that we can add an ethernet
	 * alias for it (which e.g. makes u-boot set a mac-address).
	 */
	xr819: sdio_wifi@1 {
		reg = <1>;
		compatible = "xradio,xr819";
		interrupt-parent = <&pio>;
		interrupts = <6 10 IRQ_TYPE_EDGE_RISING>;
	};
};

&ohci0 {
	status = "okay";
};

&ohci1 {
	status = "okay";
};

&spi0 {
	/* Disable SPI NOR by default: it optional on Orange Pi Zero boards */
	status = "disabled";

	flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "mxicy,mx25l1606e", "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <40000000>;
	};
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pa_pins>;
	status = "okay";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart1_pins>;
	status = "okay";
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart2_pins>;
	status = "okay";
};

&usb_otg {
	dr_mode = "peripheral";
	status = "okay";
};

&usbphy {
	/*
	 * USB Type-A port VBUS is always on. However, MicroUSB VBUS can only
	 * power up the board; when it's used as OTG port, this VBUS is
	 * always off even if the board is powered via GPIO pins.
	 */
	status = "okay";
	usb0_id_det-gpios = <&pio 6 12 GPIO_ACTIVE_HIGH>; /* PG12 */
};

&spi0 {
	status = "okay";

	flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "mxicy,mx25l1606e", "winbond,w25q128";
		reg = <0>;
		spi-max-frequency = <40000000>;

		partition@00000000 {
			reg = <0x00000000 0x200000>;	/* 2Mb */
		};
	};
};

&spi1 {
	status = "okay";


	spidev@0 {
		compatible = "generic,spidev";
		reg = <0>;
		spi-max-frequency = <10000000>;
	};
};
&pio {
	gpio-line-names =
		/* PA */
		"PA0", "PA1", "PA2", "PA3", "PA4", "PA5", "PA6", "PA7",
		"PA8", "PA9", "FPGA-RESET", "PA11", "PA12", "PA13", "PA14", "PA15",
		"PA16", "PA17", "PA18", "PA19", "PA20", "PA21", "PA22", "PA23",
		"PA24", "PA25", "PA26", "PA27", "PA28", "PA29", "PA30", "PA31",
		/* PB */
		"PB0", "PB1", "PB2", "PB3", "PB4", "PB5", "PB6", "PB7",
		"PB8", "PB9", "PB10", "PB11", "PB12", "IO-EN", "PB14", "PB15",
		"PB16", "PB17", "PB18", "PB19", "PB20", "PB21", "PB22", "PB23",
		"PB24", "PB25", "PB26", "PB27", "PB28", "PB29", "PB30", "PB31",
		/* PC */
		"PC0", "PC1", "PC2", "PC3", "PC4", "PC5", "PC6", "PC7",
		"PC8", "PC9", "PC10", "PC11", "PC12", "PC13", "PC14", "PC15",
		"PC16", "PC17", "PC18", "PC19", "PC20", "PC21", "PC22", "PC23",
		"PC24", "PC25", "PC26", "PC27", "PC28", "PC29", "PC30", "PC31",
		/* PD */
		"PD0", "PD1", "PD2", "PD3", "PD4", "PD5", "OSD-EN", "PD7",
		"PD8", "PD9", "PD10", "PD11", "PD12", "PD13", "PD14", "PD15",
		"PD16", "PD17", "PD18", "PD19", "PD20", "PD21", "PD22", "PD23",
		"PD24", "PD25", "PD26", "PD27", "PD28", "PD29", "PD30", "PD31",
		/* PE */
		"PE0", "PE1", "PE2", "PE3", "PE4", "PE5", "PE6", "PE7",
		"PE8", "PE9", "PE10", "PE11", "PE12", "PE13", "PE14","FPGA-EN",
		"PE16", "PE17", "PE18", "PE19", "PE20", "PE21", "PE22", "PE23",
		"PE24", "PE25", "PE26", "PE27", "PE28", "PE29", "PE30", "PE31",
		/* PF */
		"PF0", "PF1", "PF2", "PF3", "PF4", "PF5", "PF6", "PD7",
		"PF8", "PF9", "PF10", "PF11", "PF12", "PF13", "PF14", "PF15",
		"PF16", "PF17", "PF18", "PF19", "PF20", "PF21", "PF22", "PF23",
		"PF24", "pf25", "PF26", "PF27", "PF28", "PF29", "PF30", "PF31",
		/* PG */
		"PG0", "PG1", "PG2", "PG3", "PG4", "PG5", "PG6", "PG7",
		"PG8", "PG9", "PG10", "PG11", "PG12", "PG13", "PG14", "PG15",
		"PG16", "PG17", "PG18", "PG19", "PG20", "PG21", "PG22", "PG23",
		"PG24", "PG25", "PG26", "PG27", "PG28", "PG29", "PG30", "PG31";
	fpga-reset-pins {
		gpio-hog;
		line-name = "mistex:fpga:reset";
		//gpios = <0 10>; // PA10
		gpios = <10 GPIO_ACTIVE_HIGH>;
		output-high;
		pins = "PA10";
	};
	fpga-en {
		gpio-hog;
		line-name = "mistex:fpga:en";
		//gpios = <4 15>; // SPI1_CS (E15)
		gpios = <143 GPIO_ACTIVE_HIGH>;
		output-high;
		pins = "PE15";
	};
	osd-en {
		gpio-hog;
		line-name = "mistex:fpga:osd";
		//gpios = <3 6>; // UART2_RTS (D6)
		gpios = <102 GPIO_ACTIVE_HIGH>;
		output-high;
		pins = "PD6";
	};
	io-en {
		gpio-hog;
		line-name = "mistex:fpga:io";
		//gpios = <1 13>; // TWI1_SCK (B13)
		gpios = <45 GPIO_ACTIVE_HIGH>;
		output-high;
		pins = "PB13";
	};
};
